
.vs/OpenGL2DTemplate/v16/Browse.VC.db
.vs/OpenGL2DTemplate/v16/Browse.VC.db-shm
.vs/OpenGL2DTemplate/v16/Browse.VC.opendb
.vs/OpenGL2DTemplate/v16/Browse.VC.db-wal
.vs/OpenGL2DTemplate/v16/Browse.VC.db
.vs/OpenGL2DTemplate/v16/Browse.VC.db
